#footnotediv{font-size:90%;color:#5f5f5f;background-color:white;padding:3px 12px;border:1px solid #CDBBB5;box-shadow:#555 0 0 10px;-webkit-box-shadow:#555 0 0 10px;-moz-box-shadow:0 0 10px #555;text-align:left}

.footnotes{text-align:left}